.dockerhub-connector-form {
    padding: 3rem;
    min-width: 20vw;
    min-height: 65vh;
    margin: 5vh 10vw;
    position: absolute;
    
}

.dockerhub-connector-form .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*  */