
.service-endpoint-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-endpoint-page .content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 1rem;
}

.service-endpoint-page .exit {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 2rem;
    position: absolute;
    left: 1rem;
}

/* 
.service-endpoint-page {
    top: 4rem;
    left: 0;
    position: absolute;
    width: 100%;
    height: 85%;
    padding: 1rem;
}

.service-endpoint-page .exit {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 2rem;
}

.service-endpoint-page h2 {
    justify-self: center;
    font-size: 3rem;
}

.service-endpoint-page .content {
    margin-top: 2rem;
    justify-self: center;
} */

