.new-connector {
    /* border: solid red 6px; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-connector .initial-window {
    /* border: solid 8px blue; */
    padding: 1rem;
    width: 40vw;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: var(--popup-window);
    color: var(--popup-window-text);
}

.new-connector .initial-window .new-connector-form {
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
}

.new-connector .initial-window label {
    font-weight: 600;
}

.new-connector .initial-window input, .new-connector .initial-window select{
    width: 90%;
    font-weight: 500;
    align-self: center;
}

.new-connector .initial-window select option {
    color: var(--popup-window-text);
}

.new-connector .initial-window .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-connector .initial-window .buttons * {
    width: 90%;
}

.new-connector .initial-window button {
    margin: 1rem;
}

.new-connector .initial-window button:hover {
    scale: 1.05;
}

