
.container-service-components {
    height: 100%;
}

.container-service-components a {
    color: inherit;
    text-decoration: none;
}

.container-service-components .container-service-component{
    margin: 1rem;
    color: aliceblue;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.237);
}

.container-service-components .container-service-component:hover {
    background-color: rgba(240, 248, 255, 0.507);
    color: rgb(48, 48, 48);
    cursor: pointer;
}


/* 

a {
    color: inherit;
    text-decoration: none;
}

.service-window h1 {
    position: fixed;
    top: 4.5rem;
    left: 1rem;
    color: rgb(192, 158, 237);
}

.container-service-component:hover {
    background-color: rgba(240, 248, 255, 0.507);
    color: rgb(48, 48, 48);
}
.container-service-component{
    margin: 0.5rem;
    color: aliceblue;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.237);
}
.container-service-component label {
    color: rgb(192, 158, 237);
    font-weight: 600;
    font-size: 1.5rem;
}
.container-service-component a {
    position: relative;
} */