
.project-box {
    width: 18vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 1rem;
}

.project-box:hover{
    transform: scale(1.1);
    cursor: pointer;
}

