


.service-info-window {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}


.service-info-window .copy-icon{
    background-color: transparent;
    border: solid 1px;
    border-radius: 10px;
    padding: 0.09rem;
    margin: 0  0 0 1rem;
}

.service-info-window code {
    font-size: 0.9rem;
    padding: 1.2rem;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.507);
}



.service-info-window .remove-button {
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(88, 5, 5, 0.765);
    border-radius: 15%;
    bottom: 4vh;
    right: 4vw;
    position: absolute;
}

/* .service-info-window .remove-button {
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(88, 5, 5, 0.765);
    border-radius: 15%;
    bottom: 4vh;
    right: 4vw;
    position: absolute;
}

.service-info-window .remove-button:hover {
    transform: scale(1.1);
}

code {
    font-size: 0.9rem;
    padding: 1.2rem;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.507);
}

.copy-icon{
    background-color: transparent;
    border: solid 1px;
    border-radius: 10px;
    padding: 0.09rem;
    
    margin: 0  0 0 1rem;
}

.repo-clone {
    position: fixed;
    top: 8rem;
    right: 5rem;
} */