.home {
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    min-width: 0; 
}

.page-main {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}