

.connector-view-page {
    /* border: 4px solid rgb(62, 160, 155); */
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    /* overflow: hidden; */
    /* flex-wrap: nowrap; */
    /* justify-content: center; */
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 15px;
    
}

.connector-view-page .connectors-view-columns-container {
    /* border: 4px solid rgb(55, 128, 0); */
    display: flex;
    overflow: auto
}

.connector-view-page .connectors-view-column {
    /* border: 6px blue solid; */
}