.new-service-form {
    /* border: red 3px solid; */
    /* height: 70vh; */
    /* width: 40vw; */
    height: max-content;
    justify-self: center;
    align-self: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1.3rem;
    background-color: var(--popup-window);
    border-style: solid;
    color: var(--popup-window-text);
    border-radius: 10px;
}

.first-page {
    height: 85vh;
    width: 30vw;
}

.new-service-choose-type {
    padding: 0.5rem;
    width: 100%;
    /* width: 40vw;
    height: 55vh; */
    justify-self: center;
    align-self: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.ex-button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    background-color: rgba(206, 206, 206, 0.233);
}

input, select {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    margin: 0.1rem 0.4rem 0.8rem;
    border-radius: 15px;
    border-color: azure;
    border-width: 2px;;
    padding: 1rem;
}

.new-service-form .buttons {
    /* border: red 3px solid; */
    justify-self: center;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
}

.new-service-form input, .new-service-form select {
    border-color: var(--popup-window-text);
}

.new-service-form button {
    background-color: transparent;
    font-size: 1.5rem;
    margin: 0.5rem;
    border-radius: 8px;
    padding: 0.5rem;
    border-color: var(--popup-window-text);
    border-width: 1px;
}


.new-service-form button.submit {
    background-color: #0e950eef;
    bottom: 17%;
}

.new-service-form button:hover {
    transform: scale(1.06);
}


option {
    background-color: rgba(0, 0, 0, 0.185);
    color: rgb(0, 0, 0);
}

.type-select :focus {
    border: none;
}

.new-service-form .info-block {
    display: flex;
    flex-direction: column;
}

.new-service-form .info-block label {
    font-size: 1.5rem;
    font-weight: 500;
}

.new-service-form .next-button {
    background-color: var(--green);
    justify-self: center;
    align-self: center;
}

.new-service-form h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}