.service-window {
    /* border: 6px solid red; */
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
    /* min-width: 75vw;
    min-height: 92vh;
    display: flex;
    flex-flow: column wrap;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    margin: 0 2rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center; */
}
.service-window .service-window-page {
    /* border: 6px rgb(52, 141, 37) solid; */
    flex: 1;
    /* display: flex; */
    
}

/* here are styles that need to be general for all service pages */

.service-window .service-window-page h1 {
    color: rgb(222, 192, 250);
    justify-self: center;
    align-self: center;
    padding: 1rem;
}