.sidebar {
    height: 100%;
    min-width: fit-content;
    width: 15%;
    top: 0;
    left: 0;
    background-color: var(--side-bar);
    padding-top: 5rem;
}

.sidebar li:first-child{
    margin-top: 3rem;
}

.sidebar li {
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    display: block;
}


.sidebar li:hover {
    background-color: #575757;
    cursor: pointer;
}


.sidebar .selected {
    background-color: #5d5d5d76;
}