
.login-page .signup-form input {
    margin-bottom: 0;
}

.login-page .signup-form button {
    width: 50%;
    position: absolute;
    bottom: 1rem;
}

.signup-form h2 {
    margin-bottom: 0.5rem;
}