
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom left, 
        #0a0b32, #1a0e40, #2e1552, #432168, #3a2c5f, #1c1b44);
  background: url("./img/bgs/bg15.jpg");
  background-color: rgba(0, 0, 0, 0.306);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--text-color);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

button {
  color: inherit;
  cursor: pointer;
}

/* .main {
  min-height: 100vh;
} */
/* .page {
  display: flex;
} */
/* .page-main { */
  /* width: 85vw; */
  /* min-height: 100vh; */
  /* margin-left: 15vw; */
/* } */
.glassmorphism {
  background-color: var(--glass-color);
  backdrop-filter: blur(7px);
  border-radius: 15px;
  border: 0.5px solid var(--highlight);
  outline: 1px solid var(--highlight);
  color: var(--glass-text-color);;
}

.maskedInput {
  -webkit-text-security: disc; /* For WebKit browsers (Chrome, Safari) */
  font-family: sans-serif; /* Ensures consistency */
}

